.row {
  width: 80%;
  text-align: center;
  margin: auto;
}

.currScore, .hiScore {
  display: inline-block
}

.score {
  font-family: 'Modak', cursive;
  font-size: 4vh;
}

.wrapper {
  width: 75%;
  margin: auto;
  text-align: center;
}