.title {
  text-align: center;
  font-family: 'Modak', cursive;
  /* font-family: 'Permanent Marker', cursive; */
  font-size: 15vh;
}

.wrapper {
  width: 75%;
  margin: auto;
  text-align: center;
}